/* .show-when-mobile {
  display: block;
}

.hide-when-mobile {
  display: none;
} */

/* ====================================
    1. Font Awesom hamburger menu
======================================= */

*{
  margin-right: 0;
}

.absolute {
  position: absolute;
  top: 2.5%;
  right: 0%;
  top: 0%;
}

input {
  display: none;
}

.fa-bars { 
  transform: scaleX(1.4);
  width: 75%;
}

.fas{
  position: absolute;
  right: 5vw;
}

/* ====================================
    2. show on click
======================================= */

.show-on-click {
  display: none;
  border-top: 2px solid #1c7b80;
  position: absolute;
  top: 60px;
  right: 1%;
  background-color: #1b1b1b;
  border-radius: 5px;
  width: 130px;
  z-index:4 !important;
}
.show-on-click label {
  box-sizing: inherit;
  width: 100%;
  padding:8px 0;
  padding-top: 13%;
  padding-bottom: 25%;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid #1c7b80;
}

.main-div label .fas{
  margin-right: 11%;
}
/* .show-on-click label:hover {
  color: #1c7b80;
  box-shadow: 0 0 5px #1c7b80;
  border-radius: 5px;
} */

#burger:checked + .show-on-click{
  display: block;
}

label{
  font-size: 22px;
  display: block;
  padding: 20px;
}

label:hover,
.fa-bars:hover,
.sub-div li a:hover,
label:hover .fas

{
  letter-spacing: 2px;
}

.sub-div li a{  
  display: block;
}

.main-div{
  border-bottom: 1px solid #1c7b80;
}

/* ====================================
    3. sub of div
======================================= */

.sub-div {
  display: none;
}

#Accueil:checked + .sub-div,
#Cabinet:checked + .sub-div,
#Spécialités:checked + .sub-div,
#Contact:checked + .sub-div {
  display: block;
}

.sub-div li{
  font-size: 17px;
  padding: 10px 0 10px 35px;
}



/* ====================================
    3. sub sub of css
======================================= */
/* .sub-sub-div{
  display: none;
  margin-top: 17px;
}

#mini:checked + .sub-sub-div{
  display: block;
} */


/* .mini-projects{
  padding: 0;
  font-size: 17px;
} */