.serMobile{
  display: none;
}
.backgroundGray {
  position: relative;
  display: flex;
  /* background-position: center;
  background-size: cover; */
}

.backgroundImage {
  width: 100%;
  height: 200px;
  box-shadow: 10px 10px 20px gray;
}

.backgroundText {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  /* margin-top:30%; */
  text-align: center;
  bottom: 42%;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sectionImgService {
  display: flex;
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.sectionImg {
  /* border: 1px solid red; */
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 5%;
  height: 400px;
  width: 800px;
}

.sectionService {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  width: 23%;
  height: 382px;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 1%;
}

.serviceItem {
  width: 200px;
  display: block;
  color: #666666;
  font-size: 16px;
  margin-top: 3px;
  margin-left: 40px;
  border-bottom: 1px dashed #bbbbbb;
  padding-top: 14px;
  padding-bottom: 12px;
}
.serviceItemCantact {
  width: 200px;
  display: block;
  color: #1b1b1b;
  font-size: 18px;
  margin-top: 3px;
  margin-left: 40px;
  padding-top: 14px;
  padding-bottom: 12px;
}

.serviceItem:hover {
  color: #ffa500 ;
}
.serviceItemCantact:hover{
  color: #ffa500;
}

.nosServices {
  color: #222222;
  width: 190px;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 40px;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid #ffa500;
}

.underTitle {
  border: 2px solid #00a3c8;
  margin-top: 10px;
}

.titleDef {
  color: #222222;
  width: 300px;
  font-size: 23px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 80px;
  text-transform: uppercase;
  position: relative;
  line-height: 40px;
  border-bottom: 2px solid #ffa500;
}

.bodyDef {
  width: 70%;
  margin-left: 6%;
  margin-bottom: 6%;
  line-height: 25px;
  font-size: 16px;
  color: #555555;
  letter-spacing: 0.3px;
  font-family: "Source Sans Pro", sans-serif;
}

.ulDef {
  margin-top: 2%;
  margin-bottom: 2%;
}

.ulDef li {
  width: 80%;
  margin-left: 3%;
  line-height: 20px;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0.3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sousTitreDef {
  color: #555555;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
  width: 80%;
  line-height: 16px;
  letter-spacing: 0.3px;
  font-family: "Source Sans Pro", sans-serif;
}

/* For Mobile */
@media only screen and (max-width: 768px) {

  .ser{
    display: none;
  }
  .serMobile{
    display: block;
  }
  .backgroundGray {
    position: relative;
    display: flex;
  }
  .backgroundImage {
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 20px gray;
  }
  .backgroundText {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .sectionImgService {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  
  .sectionImg {
    margin-top: 7%;
    height: 200px;
    width: 95%;
  }
  
  .sectionService {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .serviceItemCantact {
    width: 200px;
    display: block;
    color: #1b1b1b;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 40px;
    padding-top: 14px;
    padding-bottom: 10%;
  }

  .bodyDef {
    width: 90%;
    line-height: 22px;
    font-size: 15px;
  }
  .sousTitreDef {
    
    color: #555555;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 17px;
    width: 90%;
    line-height: 22px;
  }
  
  .titleDef {
    width: 60%;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: 5%;
    border-bottom: 2px solid #ffa500;
  }

}