footer {
  margin-top: 3%;
  display: flex;
  padding: 20px 0;
  font-size: 18px;
  background-color: teal;
  justify-content: space-between;
}

.address{
  /* border: 2px solid red; */
  width: 40%;
  margin-left: 5%;
  text-align: center;
  line-height: 30px; 
}
.icons1{
  /* border: 2px solid black; */
  width: 20%; 
  margin-left: 7%;
  line-height: 30px; 
}
.icons1 :hover{
  color: black;
}

.icons2{
  /* border: 2px solid orange; */
  width: 22%;
  margin-left: 1%;
  margin-right: 3%;
  line-height: 30px; 
}
.icons2 :hover{
  color: black;
}