footer {
  margin-top: 2%;
  display: flex;
  padding: 20px 0;
  font-size: 18px;
  background-color: #1b1b1b;
  justify-content: space-between;
}

.address {
  width: 40%;
  margin-left: 5%;
  text-align: center;
  line-height: 30px;
}

.icons1 {
  width: 20%;
  margin-left: 7%;
  line-height: 30px;
}

.icons1 div a:hover {
  color: #145356;
}

.whatsapp {
  font-size: 18px;
  background-color: #1b1b1b;
  border: black;
}

.icons2 {
  width: 25%;
  margin-left: 1%;
  margin-right: 3%;
  line-height: 30px;
}

.icons2 div:hover {
  color: #145356;
}

.icons2 div a:hover {
  color: #145356;
}

.footerMobile{
  display: none;
}













@media (max-width:1290px) {
  footer {
    display: none;
  }
  .footerMobile{
    display:block;
    width: 100%;
    margin-top: 2%;
    padding: 10px;
    font-size: 12px;
    background-color: #1b1b1b;
  }
  .address {
    width: 90%;
    text-align: center;
    line-height: 20px;
    margin-top: 2%;
  }
  .iconsOneTwo{
    display: flex;
  }
  .icons1 {
    width: 40%;
    text-align: left;
    line-height: 20px;
    margin-top: 1%;

  }
  .icons2 {
    width: 50%;
    text-align: left;
    line-height: 20px;
    margin-top: 1%;
    margin-left: 8%;
  }
  .whatsapp {
    font-size: 12px;
    background-color: #1b1b1b;
    border: black;
  }

}