.hide-when-mobile {
  display: flex;
  justify-content: space-around;
}


/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

/* Added from mobile-screen.css */

@media (max-width: 800px) {
  .show-when-mobile {
    display: block;
  }

  .hide-when-mobile {
    display: none;
  }
}
.textsize{
  text-align: left;
  font-size: 14px;
}
.whatsapp{
  background-color: black;
}
.whatsapp:hover{
  color: #145356;
  font-weight: bold;
}
.iconsHeader{
  margin-left: 10px;
  margin-right: 5px;
}